@charset "utf-8";
*{padding: 0;margin:0}
.cursorPlay{
	list-style: none;
	width:992px;
	height:600px;
	margin:50px auto;
}
.cursorPlay li {
	float:left;
	margin:5px;
	background-color: #ffffff;
	border:1px solid #CCCCCC;
	padding:8px;
}
.cursorPlay a {
	display: block;
	position: relative;
	overflow: hidden;
	width:100%;
	height:100%;
}
.cursorPlay a img{
	display: block;
	z-index: 1;
}
.cursorPlay a div{
	background: rgba(0,0,0,0.3);
	color: #ffffff;
	position: absolute;
	width:100%;
	height:100%;
	/*margin-top: -75%;*/
	z-index: 9999;
}
